.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // padding-top: 10px;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  #container-position-check {
    display: flex;
    max-width: 683px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .finish {
      .value {
        width: 40px;
      }
    }

    .item-check {
      display: flex;
      width: 100%;
      align-items: center;
      margin: 0 5px;

      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
      div {
        display: flex;
        align-items: center;
        width: 100%;
        .line {
          width: 150px;
          height: 3px;
          background: #4bb80c;
        }
        p {
          font-weight: 600;
          width: 109px;
        }
        margin-left: 6px;
      }
    }

    .item-check:nth-child(2) div p {
      width: 70px;
    }
  }
}
